# See https://docs.microsoft.com/en-us/dotnet/fundamentals/code-analysis/code-style-rule-options
# for C# defaults.

# Set this to the top-most EditorConfig file.
root = true

# Don't use tabs for indentation.
[*]
indent_style = space

# XML project and config files.
[*.{csprojj}]
indent_size = 2

# C# code.
[*.cs]

# Configure indentation, new lines and encoding.
charset = utf-8-bom
end_of_line = crlf
indent_size = 4
max_line_length = 100
insert_final_newline = true
trim_trailing_whitespace = true

# Ensure that unused imports are treated as warnings.
dotnet_diagnostic.CS8019.severity = warning

# StyleCop

# Don't force trailing commas.
dotnet_diagnostic.SA1413.severity = none

# Disable a requirement of having a file header at the top of all files.
dotnet_diagnostic.SA1633.severity = none

# Don't force usage of this to prefix local calls.
dotnet_diagnostic.SA1101.severity = none

# Allow fields to be prefixed with an underscore for private and protected members.
dotnet_diagnostic.SA1309.severity = none

# Roslynator

# Don't force strings to be joined as the + operator is used to split long strings.
dotnet_diagnostic.RCS1190.severity = none

# Ensure that long lines are flagged.
dotnet_diagnostic.RCS0056.severity = warning
roslynator.max_line_length = 100

[**/obj/**.cs]
# Ignore unused using statements in generated code.
dotnet_diagnostic.CS8019.severity = none
